@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

* {
    margin: 0 auto;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba(56, 0, 60, 0.8);
}

.container {
    font-family: 'Source Sans Pro', sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    font-weight: bold;
    font-size: 70px;
}

.description {
    font-size: 25px;
    color: #fff;
}

img {
    width: 95px;
}

.bloco-redes-sociais {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    padding-left: 0;
    margin-top: -40px;
}

.icons {
	list-style: none;
	border: 1px solid #fff;
	margin: 20px;
	padding: 30px;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}


li{
	transition: transform 0.6s;	
}

li:hover{
	transform: scale(1.2);
	background-color: rgba(255, 255, 255, 0.3);
}

a {
	text-decoration: none;
	color: #fff;
	margin: 0;
}

@media (max-width: 768px) {
	.container {
		text-align: center;
	}
}